<div class="container">
  <div class="row">
    <div class="col-sm">
      <div *ngIf=!user> <h2 class="text-dark">Welcome!</h2> </div>
      <button class="btn btn-success" *ngIf=user&&!cart (click)="goToProducts()"> <h4> Start shopping </h4></button>
      <button class="btn btn-success" *ngIf=user&&cart (click)="goToProducts()"> <h4> Resume shopping </h4></button>
      <br><br>
      <h6> Registered? </h6> <br>
      <form [formGroup]="loginForm">
        username: <input #username> <br><br>
        password: <input type="password" #password> <br><br>
        <button type="button" class="btn btn-success" (click)="login(username.value ,password.value)">Login</button> 
        &nbsp; <a routerLink="/register"><u>Sign up</u></a>
      </form>
    </div>
    <div class="col-sm">
      <h2 class="text-danger">Why you should buy our products?</h2><br>
      Because of the High quality of goods. <br>
      Because of the fresh vegetables & fruits. <br>
      Because we recognize that each customer is different, and we make our programs extremely customizable. <br><br>
      <img src="../../../assets/osherad2.jpg" class="osherad2" alt="image">
    </div>
    <div class="col-sm">
      <br><br>
      <br><br>
      <div>Available products in our store: <b>{{allProducts.length}}</b></div> <br><br>
      <div> Numbers of order submitted in our store: <b>{{allOrders.length}}</b></div> <br><br>
      <div class="Notification" > <b> Notification: </b>
        <br>
      {{message}}
      </div>
    </div>
  </div>
</div>
