<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="sidebar-heading">My Cart</div>
          <button id="emptyCartBtn" class="btn btn-primary" (click)="emptyCart()">Empty Cart</button>
          <div class="list-group list-group-flush" *ngFor="let cartItem of cartArr">
            <div class="list-group-item list-group-item-action bg-light"> {{cartItem.productName}}, {{cartItem.price}}₪
              X{{cartItem.quantity}}
              <button type="button" class="close" aria-label="Close" (click)="deleteProduct(cartItem)">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <a class="order" routerLink="/order">Order</a>
          <div class="total">Total: {{total}}₪</div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <nav class="navbar navbar-expand-sm navbar-light border-bottom">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <button class="btn btn-primary" id="menu-toggle">Toggle Cart</button>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" [class.active]="viewMode == 'all-products'" (click)="viewMode ='all-products'">All
                    Products</a>
                </li>
                <li class="nav-item" *ngFor="let c of category">
                  <a class="nav-link" [class.active]="viewMode == c?.categoryName" (click)="productsByCategory(c)">
                    {{c?.categoryName}}
                  </a>
                </li>
                <li class="nav-item active">
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                      (change)="searchProduct($event)">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </li>
              </ul>
            </div>
          </nav>
          <br>
          <div class="container-fluid">
            <div class="row">
              <div class="tab-slider--container col-auto" [ngSwitch]="viewMode">

                <div class="tab-slider--body d-flex flex-row flex-wrap" *ngSwitchCase="'all-products'">
                  <div class="card col-xl-2" *ngFor="let p of allProducts; let i = index">
                    <div class="card-body">
                      <img class="card-img-top" src="http://localhost:3000/{{p?.image}}" alt="Card image" width="100" height="85">
                      <div>
                        {{p?.productName}} 
                        <p class="card-text">{{p?.price | json}}₪</p>
                      </div>
                      <!-- Button trigger modal -->
                      <button type="button" id="addToCartButton" class="btn-primary" data-toggle="modal"
                        data-target="#exampleModal" (click)="chooseProduct(p)">
                        Add to Cart
                      </button>
                    </div>
                  </div>
                </div>

                <div class="tab-slider--body d-flex flex-row flex-wrap" *ngSwitchCase="'Milk & Eggs'">
                  <div class="card col-xl-2" *ngFor="let p of productsByCategoryArr">
                    <div class="card-body">
                      <img class="card-img-top" src="http://localhost:3000/{{p?.image}}" alt="Card image" width="100" height="85">
                      <div>
                        {{p?.productName}} 
                        <p class="card-text">{{p?.price | json}}₪</p>
                      </div>
                      <!-- Button trigger modal -->
                      <button type="button" id="addToCartButton" class="btn-primary" data-toggle="modal"
                        data-target="#exampleModal" (click)="chooseProduct(p)">
                        Add to Cart
                      </button>
                    </div>
                  </div>
                </div>
                <div class="tab-slider--body d-flex flex-row flex-wrap" *ngSwitchCase="'Vegetables & Fruits'">
                  <div class="card col-xl-2" *ngFor="let p of productsByCategoryArr">
                    <div class="card-body">
                      <img class="card-img-top" src="http://localhost:3000/{{p?.image}}" alt="Card image" width="100" height="85">
                      <div>
                        {{p?.productName}} 
                        <p class="card-text">{{p?.price | json}}₪</p>
                      </div>
                      <!-- Button trigger modal -->
                      <button type="button" id="addToCartButton" class="btn-primary" data-toggle="modal"
                        data-target="#exampleModal" (click)="chooseProduct(p)">
                        Add to Cart
                      </button>
                    </div>
                  </div>
                </div>
                <div class="tab-slider--body d-flex flex-row flex-wrap" *ngSwitchCase="'Meat & Fishes'">
                  <div class="card col-xl-2" *ngFor="let p of productsByCategoryArr">
                    <div class="card-body">
                      <img class="card-img-top" src="http://localhost:3000/{{p?.image}}" alt="Card image" width="100" height="85">
                      <div>
                        {{p?.productName}} 
                        <p class="card-text">{{p?.price | json}}₪</p>
                      </div>
                      <!-- Button trigger modal -->
                      <button type="button" id="addToCartButton" class="btn-primary" data-toggle="modal"
                        data-target="#exampleModal" (click)="chooseProduct(p)">
                        Add to Cart
                      </button>
                    </div>
                  </div>
                </div>
                <div class="tab-slider--body d-flex flex-row flex-wrap" *ngSwitchCase="'Wine & Drinks'">
                  <div class="card col-xl-2" *ngFor="let p of productsByCategoryArr">
                    <div class="card-body">
                      <img class="card-img-top" src="http://localhost:3000/{{p?.image}}" alt="Card image" width="100" height="85">
                      <div>
                        {{p?.productName}} 
                        <p class="card-text">{{p?.price | json}}₪</p>
                      </div>
                      <!-- Button trigger modal -->
                      <button type="button" id="addToCartButton" class="btn-primary" data-toggle="modal"
                        data-target="#exampleModal" (click)="chooseProduct(p)">
                        Add to Cart
                      </button>
                    </div>
                  </div>
                </div>
                <div class="tab-slider--body d-flex flex-row flex-wrap" *ngSwitchCase="'search'">
                  <div class="card col-xl-12" *ngFor="let p of productsByCategoryArr">
                    <div class="card-body">
                      <img class="card-img-top" src="http://localhost:3000/{{p?.image}}" alt="Card image" width="100" height="85">
                      <div>
                        {{p?.productName}} 
                        <p class="card-text">{{p?.price | json}}₪</p>
                      </div>
                      <br>
                      <!-- Button trigger modal -->
                      <button type="button" id="addToCartButton" class="btn-primary" data-toggle="modal"
                        data-target="#exampleModal" (click)="chooseProduct(p)">
                        Add to Cart
                      </button>
                    </div>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Choose Quantity</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div>
                          <input style="width:45px" type="number" [(ngModel)]="countVal" />
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                          (click)="addToCart()">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Modal -->
              </div>
            </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->
      </div>
    </div>
  </div>
</div>
